html,body{
    width: 100%;
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6,p,a{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-weight: 800;
}

h2{
    margin: 2rem 0 !important;
    font-weight: 600;
}

h3{
    font-weight: 500;
}

p{
    font-size: 500;
    color:#999;
}
.about p:first-child{
    text-align: center;
    line-height: 2;
}

.gallery img {
    width: 400px;
    height: 225px;
    border-radius: 10px;
}

#videos iframe{
    border-radius: 5%;
}

.testimonial{
    padding:0 21rem;
}

.contact input {
    width:100%;
    height: 45px;
    border: 1px solid #777;
    border-radius: 5px;
}

textarea{
    border: 1px solid #777;
    border-radius: 5px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#contact h4{
    font-size: 18px;
    color: #454545;
}

#contact p{
    font-size: 14px;
    color: #454545;
    width: 17rem;
}

#home .bg-image{
    background-image: url("../images/carousel.png");
    background-size: cover;
    height: 400px;
}

.footer a{
    text-decoration: none;
    color: #000;
}

input::placeholder,textarea::placeholder{
    text-align: center;
}

@media only screen and (max-width:600px){
    .testimonial{
        padding: 0 1rem;
    }
    
    .contact-us{
        margin: 0  !important;
    }

    #contact p{
        width: 10rem;
    }

    #videos iframe{
        width: auto;
        height: auto;
    }
}